{% extends "base.html" %}
{% load static %}

{% block title %} [+] Exchange {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/exchange.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="card p-4">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.inputAmount.id_for_label }}">{{ form.inputAmount.label }}</label>
                    {{ form.inputAmount }}
                </div>
                <div class="form-group">
                    <label for="{{ form.from_curr.id_for_label }}">{{ form.from_curr.label }}</label>
                    {{ form.from_curr }}
                </div>
                <div class="form-group">
                    <label for="{{ form.to_curr.id_for_label }}">{{ form.to_curr.label }}</label>
                    {{ form.to_curr }}
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>

                {% if converted_amount %}
                    <div class="alert alert-success mt-3" role="alert">
                        Конвертированная сумма: {{ converted_amount }}
                    </div>
                {% endif %}

                {% comment %} <a href="{% url 'login' %}">Войти</a> {% endcomment %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
